<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Saved Model List</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <h1>Saved Model List</h1>
    <a href="{{url_for('models')}}">Saved Model List</a>
    <a href="{{url_for('servers')}}">Activated Server List</a>
    <p>Supported types</p>
    <ul>
      <li>Framework: Scikit-learn, Keras, Pytorch, Tensorflow</li>
      <li>Input: NumpyNdarray, PandasDataFrame, PandasSeries</li>
      <li>Output: NumpyNdarray, PandasDataFrame, PandasSeries</li>
    </ul>
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Model Name</th>
          <th>Tag Name</th>
          <th>Framework</th>
          <th>Input Type</th>
          <th>Output Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for model_info in saved_models %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ model_info[0] }}</td>
          <td>{{ model_info[1] }}</td>
          <td>
            <select class="framework" id="framework" name="framework" required>
              <option value="" disabled selected>Framework</option>
              <option value="sklearn">Scikit-learn</option>
              <option value="keras">Keras</option>
              <option value="pytorch">Pytorch</option>
              <option value="tensorflow">Tensorflow</option>
            </select>
          </td>
          <td>
            <select class="input-type" id="input_type" name="input_type" required>
              <option value="" disabled selected>Input type</option>
              <option value="NumpyNdarray">NumpyNdarray</option>
              <option value="PandasDataFrame">PandasDataFrame</option>
              <option value="PandasSeries">PandasSeries</option>
            </select>
          </td>
          <td>
            <select class="output-type" id="output_type" name="output_type" required>
              <option value="" disabled selected>Output type</option>
              <option value="NumpyNdarray">NumpyNdarray</option>
              <option value="PandasDataFrame">PandasDataFrame</option>
              <option value="PandasSeries">PandasSeries</option>
            </select>
          </td>
          <input
            type="hidden"
            name="model_name"
            class="model-name"
            value="{{ model_info[0] }}:{{ model_info[1] }}"
          />
          <td>
            <button type="button" class="run-button">Run</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script type=text/javascript src="{{ url_for('static', filename='js/model_list.js') }}"></script>
  </body>
</html>
