<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Saved Model List</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <h1>Saved Model List</h1>
    <a href="{{url_for('main.files')}}">Saved Model File List</a>
    <a href="{{url_for('main.models')}}">Saved Model List</a>
    <a href="{{url_for('main.servers')}}">Activated Server List</a>
    <p>Supported types</p>
    <ul>
      <li>Framework: Scikit-learn, Keras, Pytorch, Tensorflow</li>
      <li>Input: NumpyNdarray, PandasDataFrame, PandasSeries, JSON</li>
      <li>Output: NumpyNdarray, PandasDataFrame, PandasSeries, JSON</li>
    </ul>
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Model Name</th>
          <th>Tag Name</th>
          <th>Framework</th>
          <th>Input Type</th>
          <th>Output Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for model_info in saved_models %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ model_info.model_name }}</td>
          <td>{{ model_info.tag }}</td>
          <td>{{ model_info.framework }}</td>
          <td>{{ model_info.input_type }}</td>
          <td>{{ model_info.output_type }}</td>
          <input type="hidden" name="model_name" class="model-name" value="{{ model_info.model_name }}:{{ model_info.tag }}" />
          <input type="hidden" name="framework" class="framework" value="{{ model_info.framework }}" />
          <input type="hidden" name="input_type" class="input-type" value="{{ model_info.input_type }}" />
          <input type="hidden" name="output_type" class="output-type" value="{{ model_info.output_type }}" />
          <input type="hidden" name="api_data" class="api-data" value="{{ model_info.api_data }}" />
          <td>
            <button type="button" class="run-button">Run</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script type=text/javascript src="{{ url_for('static', filename='js/serve_model.js') }}"></script>
  </body>
</html>
